:root {
   --darker-blue: #00062f;
   --dark-blue: #040e56;
   --light-blue: #b9c2ff;
   --orange: #ff6400;
   --yellow: #fdd401;
   --green: #3FD526;
   --red: #EB2C4E;
   --gray: #dedede4d;
   --light-gray: #C9D8E2;
   --custom-black: #0A0D13;
   --dark-gray: #343434;
   --custom-gray: #F3F6F9;
   --custom-gray-2: #555555;
   --custom-gray-3: #FCFCFC;
   --custom-gray-4: #9EA0AE;
   --custom-gray-5: #D3DCE4;
   --bs-btn-disabled-bg: #ffb380;
   --bs-btn-disabled-color: #dedede4d;
}
.oswald-200 {
   font-family: "Oswald", serif;
   font-optical-sizing: auto;
   font-weight: 200;
   font-style: normal;
}
.oswald-300 {
   font-family: "Oswald", serif;
   font-optical-sizing: auto;
   font-weight: 300;
   font-style: normal;
}
.oswald-400 {
   font-family: "Oswald", serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}
.oswald-500 {
   font-family: "Oswald", serif;
   font-optical-sizing: auto;
   font-weight: 500;
   font-style: normal;
}
.oswald-600 {
   font-family: "Oswald", serif;
   font-optical-sizing: auto;
   font-weight: 600;
   font-style: normal;
}
.oswald-700 {
   font-family: "Oswald", serif;
   font-optical-sizing: auto;
   font-weight: 700;
   font-style: normal;
}

.oswald-weight{
   font-weight: 800 !important;
}
.poppins-400 {
   font-family: "Poppins", serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}
.poppins-500 {
   font-family: "Poppins", serif;
   font-optical-sizing: auto;
   font-weight: 500;
   font-style: normal;
}
.poppins-600 {
   font-family: "Poppins", serif;
   font-optical-sizing: auto;
   font-weight: 600;
   font-style: normal;
}
@media screen and (max-width: 576px) {
   .text-sm-14 {
      font-size: 14px !important;
   }
   .text-sm-16 {
      font-size: 16px !important;
   }
   #menu-footer-menu-01 li,
   #menu-footer-menu-02 li {
      font-size: 14px;
   }
}
.text-12 {
   font-size: 12px;
}
.text-14 {
   font-size: 14px;
}
.text-15 {
   font-size: 15px;
}
.text-16 {
   font-size: 16px;
}
.text-18 {
   font-size: 18px;
}
.text-20 {
   font-size: 20px;
}
.text-22 {
   font-size: 22px;
}
.text-sm-22 {
   font-size: 22px;
}
.text-26 {
   font-size: 26px;
}
.text-32 {
   font-size: 32px;
}
.text-40 {
   font-size: 40px;
}
.text-42 {
   font-size: 42px;
}
.text-56 {
   font-size: 56px;
}
.text-64 {
   font-size: 64px;
}
.text-76 {
   font-size: 76px;
}
a {
   text-decoration: none;
}
.uppercase {
   text-transform: uppercase;
}
.text-sm {
   font-size: small;
}
.dark-blue {
   background-color: var(--dark-blue);
}
.text-dark-blue {
   color: var(--dark-blue) !important;
}
.darker-blue {
   background-color: var(--darker-blue);
}
.yellow {
   background-color: var(--yellow);
}
.text-light-gray {
   color: var(--light-gray);
}
.text-gray {
   color: var(--gray);
}
.bg-custom-gray-3 {
   background: var(--custom-gray-3);
}
.text-dark-gray {
   color: var(--dark-gray);
}
.text-custom-gray-2 {
   color: var(--custom-gray-2);
}
.text-custom-gray-4 {
   color: var(--custom-gray-4);
}
.border-b-custom-gray-5 {
   border-bottom: 1px solid var(--custom-gray-5);
}
.text-orange {
   color: var(--orange);
}
.border-light-gray {
   border-color: var(--light-gray) !important;
}
.text-white {
   color: #fff;
}
.text-custom-black {
   color: var(--custom-black);
}
.text-yellow {
   color: var(--yellow);
}
.btn-bg-opacity-10 {
   background-color: #ffffff22;
}
.site-branding .custom-logo {
   max-width: 278px;
}
.w-full {
   width: 100%;
}
.w-30 {
   width: 30%;
}
.w-lg-25 {
   width: 25%;
}
.w-lg-30 {
   width: 30%;
}
.w-70 {
   width: 70%;
}
.w-lg-70 {
   width: 70%;
}
.w-custom-70 {
   width: 70%;
}
.w-custom-30 {
   width: 30%;
}
.w-215 {
   width: 215px !important;
}
.pixel-w-10 {
   width: 10px;
}
.width-30 {
   width: 30px;
}
.width-219 {
   width: 219px;
}
.yellow-gradient {
   background: linear-gradient(90deg, #fdd401 0%, rgba(253, 212, 1, 0) 100%);
}
.pixel-p-1 {
   padding: 1px;
}
.pixel-p-8 {
   padding: 8px;
}
.pixel-px-12 {
   padding: 12px;
}
.pixel-me-10 {
   margin-left: 15px;
}
.pixel-sm-p-30 {
   padding: 0;
}
.mt-minus-3-5 {
    margin-top: -3.5rem; 
}
.bg-orange {
   background-color: var(--orange);
}
.border-orange {
   border-color: var(--orange) !important;
}
.bg-dark-blue {
   background-color: var(--dark-blue);
}

.home-input{
   height: 65px;
}
.no-border-top {
   border-top: none;
}
.border-top-gray {
   border-top: 1px solid;
   border-color: var(--gray);
}
.light-blue {
   color: var(--light-blue) !important;
}
.link-hover:hover {
   color: var(--light-blue);
}
.link-hover-2:hover {
   color: white;
}
.underline {
   text-decoration: underline;
}
.list-style-none {
   list-style: none;
}
#menu-footer-menu-01,
#menu-footer-menu-02 {
   margin: 0;
   padding: 0;
   list-style: none;
   padding-top: 0.5rem;
}
#menu-footer-menu-01 li a,
#menu-footer-menu-02 li a {
   color: white;
   margin-bottom: 0.5rem;
   font-family: "Oswald", serif;
   font-weight: 400;
   letter-spacing: 0.04em !important;
}
#menu-footer-menu-01 li,
#menu-footer-menu-02 li {
   margin-bottom: 0.5rem;
}
.sticky-summary {
   position: -webkit-sticky;
   position: sticky;
   top: 20px;
}
.box-shadow {
   box-shadow: 0px 0px 24px 0px #DFE5EE40;
}
.box-sm-shadow {
   box-shadow: 0px 0px 24px 0px #DFE5EE40;
}
.box-shadow-no-top {
   box-shadow: 0px 12px 24px -6px #DFE5EE40;
}
.box-shadow-no-bottom {
   box-shadow: 0px -12px 24px 0px #DFE5EE40, 0px 12px 24px 0px transparent;
}
#page {
   background: var(--custom-gray-3);
}
.page {
   margin-bottom: 0 !important;
}
.step-title-icon {
   margin-right: 8px;
   font-size: 1.2rem;
   color: var(--light-gray);
}
.step-back-icon {
   margin-right: 8px;
   font-size: 1.2rem;
   color: var(--light-gray);
}
.step-exclamation-icon {
   margin-left: 8px;
   font-size: 1.2rem;
   color: var(--light-gray);
}
.icon-cross {
   font-size: 0.8rem;
   color: var(--red);
}
.icon-tick {
   font-size: 0.8rem;
   color: var(--green);
}
.border-radius-1 {
   border-radius: 1px;
}
.border-custom-gray {
   border-color: var(--custom-gray);
}
.h-46 {
   height: 46px;
}
.h-36 {
   height: 36px;
}
.h-14 {
   height: 14px;
}
.location-and-quantity-form, .type-and-kind-form, .confirm-and-pay-form {
   padding-left: 32px;
}
.location-and-quantity-section::after, .type-and-kind-section::after {
   content: "";
   position: absolute;
   top: 1.4rem;
   margin-top: 28px;
   margin-left: 8px;
   height: calc(100% - 18px);
   z-index: 1;
   width: 2px;
   background-color: var(--light-gray);
}
.w-sm-163 {
   max-width: 163px;
}
.w-sm-precent-60 {
   width: 60%;
}
.max-w-162 {
   max-width: 162px;
}
.max-w-696 {
   max-width: 696px;
}
.border-2 {
   border: 2px solid;
}
.h-sm-72 {
   height: 72px;
}
.bg-orange-btn:hover {
   background: var(--orange);
   color: #fff;
}
.border-orange-btn:hover {
   color: var(--orange);
}
.text-sm-32 {
   font-size: 32px;
}
.text-sm-18 {
   font-size: 18px;
}
.text-sm-20 {
   font-size: 20px;
}
.text-sm-24 {
   font-size: 24px;
}
.text-sm-64 {
   font-size: 64px;
}
.text-sm-40 {
   font-size: 40px;
}
.box-sm-white {
   background: #ffffff;
}
.rating-width {
   width: 180px;
}
@media screen and (max-width: 576px) {
   .text-sm-32 {
      font-size: 20px;
   }
   .text-sm-18 {
      font-size: 14px;
   }
   .text-sm-20 {
      font-size: 16px;
   }
   .text-sm-64 {
      font-size: 24px;
   }
   .text-22 {
      font-size: 14px;
   }
   .text-sm-22 {
      font-size: 18px;
   }
   .text-26 {
      font-size: 18px;
   }
   .text-56 {
      font-size: 32px;
   }
   .text-sm-40 {
      font-size: 24px;
   }
   .text-42 {
      font-size: 32px;
   }
   .text-40 {
      font-size: 24px;
   }
   .text-76 {
      font-size: 42px;
   }
   .line-height{
      line-height: 26px !important;
   }
   .h-sm-72 {
      height: 46px;
   }
   .h-14 {
      height: 8px;
   }
   .pixel-sm-p-30 {
      padding: 30px;
   }
   .beton-star-icons {
      width: 20px !important;
      height: 20px !important;
   }
   .new-text-sm-22 {
      font-size: 14px !important;
   }
   .rating-width {
      width: auto;
   } 
   .location-and-quantity-section::after, .type-and-kind-section::after {
      display: none;
   }
   .box-shadow-no-bottom {
      box-shadow: none;
   }
   .location-and-quantity-form, .type-and-kind-form, .confirm-and-pay-form {
      padding-left: 0;
   }
   .w-precent-50 {
      width: 50% !important;
   }
   .box-sm-white {
      background: transparent;
   }
   .box-sm-shadow {
      box-shadow: none;
   }
   .select-pump-section, .execution-section {
      border: 0 !important;
    }
    .w-sm-163 {
      max-width: 116px;
    }
    .w-sm-precent-60 {
      width: auto;
   }
}
.location-and-quantity-section.inactive .step-title-icon, .type-and-kind-section.inactive .step-title-icon {
   color: var(--green) !important;
}
.pending.location-and-quantity-section.active .step-title-icon, .pending.type-and-kind-section.active .step-title-icon, .confirm-and-pay-section.active .step-title-icon {
   color: var(--yellow);
}
.filled.location-and-quantity-section.active .step-title-icon, .filled.type-and-kind-section.active .step-title-icon, .confirm-and-pay-section.active .step-title-icon {
   color: var(--green);
}
.location-and-quantity-section.inactive::after, .type-and-kind-section.inactive::after {
   background-color: var(--green) !important;
}
.pending.location-and-quantity-section.active::after, .pending.type-and-kind-section.active::after {
   background-color: var(--yellow) !important;
}
.filled.location-and-quantity-section.active::after, .filled.type-and-kind-section.active::after {
   background-color: var(--green) !important;
}
.type-and-kind-section.active .step-title, .type-and-kind-section.inactive .step-title, .confirm-and-pay-section.active .step-title, .confirm-and-pay-section.inactive .step-title  {
   color: var(--dark-blue) !important;
}
.form-check-input:checked {
   background-color: var(--orange);
   border-color: var(--orange);
} 
.form-check-input:focus {
   box-shadow: 0 0 0 0.25rem rgba(var(--orange-rgb, 255, 165, 0), 0.5); /* Replace with --orange's RGB equivalent */
}
.tilted-border:after {
    content: '';
    position: absolute;
    top: 0;
    right: -5%;
    width: 10px; 
    height: 150%;
    background-color: #ff6400; 
    transform: rotate(20deg); 
    transform-origin: top right; 
    z-index: 1; 
    display: block; 
}

.inactive .location-and-quantity-form{
   display: none;
}
.light-blue-text{
   color: #B9C2FF;
}

.line-height{
   line-height: 38px;
}

.letterspace1{
   letter-spacing: 0.01em !important;
}

.letterspace4{
   letter-spacing: 0.04em !important;
}

.grey-text{
   color: #343434 !important;
}

.image-post{
   width: 450px !important;
   height: 400px !important;
}

.paragraph-ash{
   color: #393E50 !important;
}

.bg-step1{
   background-image: url('http://localhost/beton/wp-content/uploads/2024/11/4-Company-SK.png');
}

.bg-step2{
   background-image: url('http://localhost/beton/wp-content/uploads/2024/11/4-Company-SK-flip.png');
}


.custom-550-image{
   height: 550px;
   width: 100%;
   object-fit: cover;
}

.h-full{
   height: 100% !important;
}

.image-fluid{
   object-fit: cover;
}

.margin-right-left-auto{
   margin-right: auto !important;
   margin-left: auto !important;
}

@media screen and (max-width: 992px){
   .tilted-border:after {
      display: none;
   }
   .w-lg-30, .w-lg-70, .w-lg-25 {
      width: 100%;
   }
   .w-custom-70 {
      width: 80%;
   }
   .w-custom-30 {
      width: 20%;
   }
}

@media screen and (min-width: 991px){
   .beton-steps-content-right-wrapper {
      background-image: url('https://dayzsolutions.com/beton2025/wp-content/uploads/2024/12/4-Company-SK-withline-left.png');
      /* background-position: calc(100% + 200px) center; */
      background-position: calc(100% + 10px) center;
      background-repeat: no-repeat;
      background-size: contain;
   }
   .beton-steps-content-right-wrapper-2 {
      background-image: url('https://dayzsolutions.com/beton2025/wp-content/uploads/2024/12/4-Company-SK-withline-left.png');
      /* background-position: calc(100% + 330px) center; */
      background-position: calc(100% + 10px) center;
      background-repeat: no-repeat;
      background-size: contain;
   }
   .beton-steps-content-left-wrapper {
      background-image: url('https://dayzsolutions.com/beton2025/wp-content/uploads/2024/12/4-Company-SK-flip-withline-right.png');
      /* background-position: calc(0% - 200px) center; */
      background-position: calc(0% - 10px) center;
      background-repeat: no-repeat;
      background-size: contain;
   }
   .pixel-px-12 {
      padding-left: 0px;
      padding-right: 0px;
   }
}

@media screen and (max-width: 1520px){
   .beton-navbar-desktop {
      justify-content: flex-start !important;
   }
}

.beton-mobile-drawer ul.dropdown-menu.depth_0 {
    display: none !important;
}

.beton-mobile-drawer ul.dropdown-menu.depth_0.show {
    display: block !important;
}

.beton-mobile-drawer .navbar-nav .dropdown-menu {
   position: relative;
   width: 100%;
}

.beton-mobile-drawer .menu-item.menu-item-has-children {
   display: inline-block;
   width: 100%;
   position: relative;
}
.beton-mobile-drawer .nav-link.dropdown-toggle {
   border-bottom: 1px solid var(--custom-gray-5);
   padding-top: 24px;
   padding-bottom: 24px;
   font-size: 16px;
   font-family: "Oswald", serif;
   font-weight: 500;
   font-style: normal;
   color: var(--dark-blue);
}
.beton-arrow-menu-icon {
   position: absolute;
   top: 0;
   right: 0;
}
.beton-mobile-drawer ul.dropdown-menu .beton-arrow-menu-icon, .beton-mobile-drawer .dropdown-toggle::after, .beton-desktop-menu .beton-arrow-menu-icon{
   display: none;
}
.navbar-toggler {
   padding: 2px !important; 
   border-radius: 0; 
   border: none;
}
.beton-desktop-menu .nav-link.dropdown-toggle {
   color: #393E50 !important;
}

/*Page content styles -> start*/

#primary-menu .dropdown-menu {
	display: block;

}

.beton-contact-form-wrapper label{
	width: 100%;
}

.beton-contact-form-wrapper input{
	width: 100%;
}

.beton-contact-form-wrapper input[type="submit"], .direct-online-offerte-btn{ 
    box-sizing: border-box;
    overflow: visible;
    background: #e6e6e6;
    margin: 0;
    line-height: inherit;
    -webkit-appearance: button;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
    flex: 0 0 auto;
    
    border-width: 2px!important;
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
    text-transform: uppercase!important;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important;
    border-radius: 0!important;
    font-family: "Oswald", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    background-color: var(--orange);
    border-color: var(--orange) !important;
    border: 2px solid;
    cursor: pointer;
}

.beton-contact-form-wrapper input[type="submit"] {
	width: 100%;
}

.page #primary .entry-content {
	font-family: "Poppins", serif;
}

.beton-page-content h2 {
	font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
	font-size: 32px;
	margin-bottom: 24px;
	padding-top: 24px;
}  

.beton-page-content h4 {
	font-family: "Oswald", serif;
    font-optical-sizing: auto;
}  

.beton-page-content p{
	font-size: 18px;
   line-height: 38px;
}

.beton-page-content ul{
   font-size: 18px;
   line-height: 38px;
}

@media screen and (max-width: 992px) {
   .beton-page-content p{
	   font-size: 16px;
   }

   .beton-page-content ul{
      font-size: 16px;
      margin-left: 10px;

   }
}

.beton-page-content a:not(.direct-online-offerte-btn) {
	text-decoration: underline;
    color: rgba(var(--bs-black-rgb), var(--bs-text-opacity)) !important;
}

.beton-page-content .direct-online-offerte-btn {
	margin-top: 24px;
}

a:focus {
    outline: none;
}

/*Page content styles -> end*/

/* header menu styles */
ul.dropdown-menu.depth_0 {
   border-radius: 0px;
   border: 1px solid transparent;
}

ul.dropdown-menu.depth_0 .dropdown-item:active{
   background-color: #040E56;
}

/* Responsive styles -> start */
@media screen and (max-width: 384px) {
   .offcanvas{
      max-width: 95%;
   }
}
@media screen and (max-width: 768px) {
   .offcanvas{
      max-width: 95%;
   }

   .beton-footer-wrapper.container, .beton-page-content{
      padding-left: 30px;
      padding-right: 30px;
   }
}
/* Responsive styles -> end */

.letter-spacing-four{
   letter-spacing: 0.04em !important;
}

.btn-hover:hover{
   background-color: #040E56 !important;
}

.btn-hover-orange:hover{
   background-color: #FF6400 !important;
   border: 2px solid #FF6400; 
}.step-title {
   cursor: pointer;
}
#order_review .product-name .variation {
   display: grid !important;
   grid-template-columns: repeat(2, 1fr);
}
#order_review .product-name .variation p{
   margin: auto;
}
#order_review .product-name .variation dd {
   padding: 0;
   margin: 0;
}

/* Thank you Page */
ul.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
   /* padding: 0;
   margin: 0; */
   line-height: 30px;
}
ul.wc-item-meta {
   padding: 0;
   margin: 0;
   list-style: none;
}

ul.wc-item-meta p {
   margin: 0;
   padding: 0;
}

ul.wc-item-meta > li {
   display: flex;
   gap: 10px;
   align-items: center;
   font-size: 16px;
   line-height: 20px;
}
.font-oswald{
	font-family: "Oswald", serif;
    font-optical-sizing: auto;
}

#autocomplete-list {
   top: 60px;
   border-radius: 0;
   border: 0;
   z-index: 99999999999;
}
label[for=e_deliverydate] {
   margin-right: 15px;
}

#orddd_time_slot_field label {
   float: left;
   clear: both;
}

p#orddd-na-slots {
   clear: both;
}

div#orddd_list_view_select {
   clear: both;
}

.background-img-adjust {
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

@media (min-width: 1490px) {
    .new-container-1400 {
        max-width: 1480px;
    }
}

.new-text-sm-22 {
   font-size: 22px;
}

.line-height-38{
   line-height: 38px;
}

@media screen and (min-width: 1024px){
   .padding-left-title{
      padding-left: 30px !important;
   }
   .padding7{
      padding-top: 7rem !important;
   }
}

.post-title-margin-tb{
   margin: 10px 0px 15px 0px !important;
}
.beton-footer-wrapper .footer-logo img {
   padding-left: 10px;
   padding-right: 10px;
   background: #fff;
}